<table id="item_table" class="table table-condensed">

	<% counter = 0; %>
	<% @menuItems.each do |item| %>
	<% counter+=1; %>
	<tr id="item_button_<%= counter %>" class="item_button_row">
	  <td><%= counter %> </td>
	  <td><a id="item_button" data-target="#modal_item_create"  
	   data-toggle="modal" data-keyboard="true" data-backdrop="static" onclick="addItemToOrder($('#item_price_<%= counter %>'))"><%= item.name %></a>
	  <td class="item_price" id="item_price_<%=counter%>">$ <%= number_with_precision(item.price, :precision => 2) %></td>
	</tr>
	<% end %>
</table>
