<h1><%= @food_truck.truck_name %></h1>

<br><br>
<h2>Menu</h2>

<!-- **************************************************************************** -->
<!--The item_table is located views/food_trucks/_item_table.html.erb -->
<!-- **************************************************************************** -->
<%= render 'item_table' %>

<a id="item_button" data-target="#modal_item_create" class="btn btn-inverse" 
	   data-toggle="modal" data-keyboard="true" data-backdrop="static">+Add Menu Item</a>


<br><br><br>


<h2>Truck Details</h2>

<%= render 'form' %>


<%= link_to 'Show', @food_truck %> |
<%= link_to 'Back', food_trucks_path %>


<!-- **************************************************************************** -->
<!--The Code Below is the Pop-up that comes up with 'add menu item' is Selected. -->
<!-- **************************************************************************** -->

<div class="modal" id="modal_item_create" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none">
	<div class="modal-header">
		<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
		<h3 id="myModalLabel">Create Food Item</h3>
	</div>

	<%= form_for(@item, :remote => true, :html => {:'data-type' => 'json'}) do |f| %>
		<div class="modal-body">
		    <% if @item.errors.any? %>
				<div id="error_explanation">
				<h2><%= pluralize(@item.errors.count, "error") %> prohibited this item from being saved:</h2>

				<ul>
				<% @item.errors.full_messages.each do |msg| %>
				  <li><%= msg %></li>
				<% end %>
				</ul>
				</div>
		    <% end %>

		    <%= render 'shared/item_fields', :f => f %>
		    <div class="field" style="display: none">
		    	<%= f.text_field :food_truck_id, :value => @food_truck.id %>
		    </div>

		</div>	
		<div class="modal-footer">
			<button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
			<button class="btn btn-primary" id="save_btn">Save changes</button>
		</div>
	<% end %>
</div>


<script>
	function initialize()
	{
		$('body').append($('#modal_item_create'));
		$(".new_item").bind("ajax:success", 
			function(xhr, data, status) 
			{
				$('#modal_item_create').modal('toggle');
				$('#item_table tr:last').after('<tr><td>-</td><td><a id="item_button" data-target="#modal_item_create" class="btn btn-inverse" data-toggle="modal" data-keyboard="true" data-backdrop="static">' + data['name'] + 
					'</a></td><td>$' + (Math.round(data['price'])).toFixed(2) + '</td>' );		
				$('#modal_item_create').modal('hide');	
			});
	}

	window.onload = initialize;
</script>

