
<p id="notice"><%= notice %></p>

<div class="row">
    <div class="span8">
        <form class="well well-height">
          <div id="menu_left"><h1><%= @food_truck.truck_name %></h1></div>
          <div id="phone_number"><%= number_to_phone(@food_truck.phone) %></div>
          <br>
          <img src="/assets/truck.png" class="img-rounded">    
          <br><br>
          <%= render 'item_table' %>   
       </form>
    </div> 

    <!-- **************************************************************************** -->
    <!-- This is the order summary table. --> 
    <!-- **************************************************************************** -->    
    <div class="span4">
        <form class="well well-height" id="well_pink">
          <h4>Order Summary</h4> <br>
          <table id="order_table" class="table table-condensed">
            <tr>
              <th>Item</th>
              <th>Price</th>
              <th>Quantity</th>
            </tr>

            <% if has_order? %>
                <% current_order.order_items.each do |order_item| %>
                <tr>
                  <td><%= order_item.item.name %></td>
                  <td>$<%= number_with_precision(order_item.price, :precision => 2) %></td>
                  <td><%= order_item.quantity %></td>
                  <td><%= link_to 'x', order_item, method: :delete, data: { confirm: 'Are you sure?' }, :remote => true %></td>
                </tr>
              <% end %>
            <% end %>
          </table>
          <button class="btn btn-inverse">Place Order</button>    
        </form> 
    </div>
</div>

<!-- **************************************************************************** -->
<!-- Modal dialog div. --> 
<!-- **************************************************************************** -->    

<div class="modal" id="modal_item_create" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="myModalLabel">Add to Order</h3>
  </div>

  <%= form_for(@order_item, :remote => true, :html => {:'data-type' => 'json'}) do |f| %>
    <div class="modal-body">
        <% if @order_item.errors.any? %>
        <div id="error_explanation">
        <h2><%= pluralize(@item.errors.count, "error") %> prohibited this item from being saved:</h2>

        <ul>
        <% @order.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
        </div>
        <% end %>

        <div class="field">
          <%= f.hidden_field :item_id%>
        </div>


        <h4 id="food_name_placeholder"></h4>
        <div id="description_placeholder"></div></br>

        <div class="field">
          <label class="order_label">Price:</label>
          <%= f.text_field :price,:readonly => true, :class =>"input-mini" %>
        </div>
        <div class="field">
          <label class="order_label">Qty:</label> 
          <%= f.number_field :quantity, :value => 1, :class => "input-mini" %>
        </div>
        <div class="field">
          Notes or special instructions: <br />
          <%= f.text_area :note, :cols => "50", :class => "form_text_area"  %>
        </div>

        <%= hidden_field_tag :food_truck_id%>

    </div>
    <div class="modal-footer">
      <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
      <button class="btn btn-primary" id="save_btn">Save changes</button>
    </div>
  <% end %>
</div>


<script>
  function initialize()
  {
    $('body').append($('#modal_item_create'));
    $(".new_order_item").bind("ajax:success", 
      function(xhr, data, status) 
      {
        $('#order_table tr:last').after('<tr><td>' + data['item']['name']  + 
          '</td><td>$' + data['price'] + '</td><td>' + data['quantity'] + 
          '</td></tr>');    

        $('#modal_item_create').modal('hide');  
      });

  }

  function addItemToOrder(price, id, description, name) 
  {    
    $('#order_item_price').val(price.html().replace("$",""));
    $('#order_item_item_id').val(id.val());
    $('#food_truck_id').val(<%= params['id'] %>); 
    $('#description_placeholder').html(description.html());
    $('#food_name_placeholder').html(name.html());
  }

  window.onload = initialize;
</script>

