<p id="notice"><%= notice %></p>

<div class="row">
    <div class="span8">
        <form class="well well-height">
          <div id="menu_left"><h1><%= @food_truck.truck_name %></h1></div>
          <div id="phone_number"><%= @food_truck.phone %></div>
          <br>
          <img src="/assets/truck.png" class="img-rounded">    
          <br><br>
          <%= render 'item_table' %>   
       </form>
    </div> 

    <!-- **************************************************************************** -->
    <!-- This should be in a div poisitioned on to the right of the menu. --> 
    <!-- **************************************************************************** -->    
    <div class="span4">
        <form class="well well-height" id="well_pink">
          <h4>Order Summary</h4> <br>
            <div id="align_left"> Chicken Taco </div> <div id="align_right"> $4.00 </div><br>
            <div id="align_left"> Chicken Taco </div> <div id="align_right"> $4.00 </div><br>
            <div id="align_left"> Chicken Taco </div> <div id="align_right"> $4.00 </div>
            <br>
            <a href="">Edit</a>
            <br><br>
            <button class="btn btn-inverse">Place Order</button>    
        </form> 
    </div>
</div>

<%= link_to 'Edit', edit_food_truck_path(@food_truck) %> |
<%= link_to 'Back', food_trucks_path %>


<div class="modal" id="modal_item_create" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="myModalLabel">Create Food Item</h3>
  </div>

  <%= form_for(@order_item, :remote => true, :html => {:'data-type' => 'json'}) do |f| %>
    <div class="modal-body">
        <% if @order_item.errors.any? %>
        <div id="error_explanation">
        <h2><%= pluralize(@item.errors.count, "error") %> prohibited this item from being saved:</h2>

        <ul>
        <% @order.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
        </div>
        <% end %>
        <%= render 'shared/order_item_fields', :f => f %>

    </div>  
    <div class="modal-footer">
      <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
      <button class="btn btn-primary" id="save_btn">Save changes</button>
    </div>
  <% end %>
</div>


<script>
  function initialize()
  {
    $('body').append($('#modal_item_create'));
    $(".new_item").bind("ajax:success", 
      function(xhr, data, status) 
      {
        $('#modal_item_create').modal('toggle');
        $('#menu_item_table tr:last').after('<tr><td>' + data['name'] + 
          '</td><td>' + data['price'] + '</td><td>' + data['details'] + 
          '</td></tr>');    
        $('#modal_item_create').modal('hide');  
      });
  }

  window.onload = initialize;
</script>

