<ul class="breadcrumb breadcrumb_placement">
  <li>1. Name Menu</span><span class="divider">|</li>
  <li><span class="active">2. Add / Remove Items</span><span class="divider">|</span></li>
  <li >3. Finalize Menu</li>
</ul>


<script>
	function onClick()
	{
		$('.modal-body').html(
			"<iframe width='100%' height='100%'' frameborder='0' scrolling='no' src='<%= new_item_path %>'></iframe>");
	}
</script>

<div class="main_menu">

	<div class="hero-unit">
		<p id="notice"><%= notice %></p>

		<div class="page-header">
			<h1><%= @menu.name %> </h1><%= link_to 'Edit', edit_menu_path(@menu) %>
		</div>
		<!--button class="btn btn-inverse">+Add Menu Item</button-->

		<a href="<%= new_item_path %>" id="item_button" data-target="#myModal" class="btn btn-inverse" 
		   data-toggle="modal" data-keyboard="true" data-backdrop="static" onclick="onClick()">+Add Menu Item</a>
		<a href="<%= menus_path %>" class="btn btn-inverse" >See All Menus</a>
	</div>
</div>


