<ul class="breadcrumb breadcrumb_placement">
  <li>1. Name Menu</span><span class="divider">|</li>
  <li><span class="active">2. Add / Remove Items</span><span class="divider">|</span></li>
  <li >3. Finalize Menu</li>
</ul>


<script>
	function onClick()
	{	
		$('.modal-body').load("<%= new_item_path %> #item_modal");
	}

	function onSubmit()
	{
		data = {
				item : 
				{
					name : $('#item_name').val(), 
					price : $('#item_price').val(), 
					details : $('#item_details').val(),
					menu_id  : <%= @menu.id %>
				},
				commit : "Create Item"
			};
		$.post(
			'<%= items_path %>', 
			data, 
			submitCallback, 
			"json");
	}

	function submitCallback(data) 
	{
		alert('success'); 
		$('#myModal').modal('toggle');
	}

</script>

<div class="main_menu">


	<div class="hero-unit">
		<p id="notice"><%= notice %></p>

		<div class="page-header">
			<h1><%= @menu.name %> </h1><%= link_to 'Edit', edit_menu_path(@menu) %>
		</div>
		<!--button class="btn btn-inverse">+Add Menu Item</button-->

		<table>
		<tr>
		  <th>Name</th>
		  <th>Price</th>
		  <th>Details</th>
		  <th></th>
		  <th></th>
		  <th></th>
		</tr>

		<% @menuItems.each do |item| %>
		<tr>
		  <td><%= item.name %></td>
		  <td><%= item.price %></td>
		  <td><%= item.details %></td>
		  <td><%= link_to 'Show', item %></td>
		  <td><%= link_to 'Edit', edit_item_path(item) %></td>
		  <td><%= link_to 'Destroy', item, method: :delete, data: { confirm: 'Are you sure?' } %></td>
		</tr>
		<% end %>
		</table>


		<a href="<%= new_item_path %>" id="item_button" data-target="#myModal" class="btn btn-inverse" 
		   data-toggle="modal" data-keyboard="true" data-backdrop="static" onclick="onClick()">+Add Menu Item</a>
		<a href="<%= menus_path %>" class="btn btn-inverse" >See All Menus</a>
	</div>	
</div>

<div class="modal" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none">
	<div class="modal-header">
	<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
	<h3 id="myModalLabel">Create Food Item</h3>
	</div>
	<div class="modal-body">
		Loading data...
	</div>	
	<div class="modal-footer">
	<button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
	<button class="btn btn-primary" id="save_btn" onclick="onSubmit()">Save changes</button>
	</div>
</div>


<script>
	$('body').append($('#myModal'));
</script>
