

  <div class="field">
    <%= f.label :price %><br />
    <%= f.text_field :price %>
  </div>
  <div class="field">
    Qty: 
    <%= f.number_field :quantity %>
  </div>
  <div class="field">
    Notes or special instructions: <br />
    <%= f.text_area :note %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>