<p id="notice"><%= notice %></p>

<h3><%= @order.food_truck.truck_name %></h3>

<table>
	<tr>
		<th>Item Name</th>
		<th>Price</th>
		<th>Quantity</th>
	</tr>
	<% @order.order_items.each do |order_item| %> 
	  <tr>
	    <td><%= order_item.item.name %></td>
	    <td><%= order_item.price %></td>
	    <td><%= order_item.quantity %></td>
	  </tr>
	<% end %> 
</table>

<br> 

<p>
  <b>Total:</b>
  <%= @order.total %>
</p>


<%= link_to 'Edit', edit_order_path(@order) %> |
<%= link_to 'Back', orders_path %>
