	
<html>
	<head>
		<title>
			Spork | Food Truck Tracker
		</title>
		<%= stylesheet_link_tag    "application", :media => "all" %>
		<%= javascript_include_tag "application" %>
		<%= csrf_meta_tags %>
	</head>

	<div class="outerBox">
		<div class ="body">	</div>
		<div class="navbar navbar-fixed-top">
			<div class="navbar-inner">
				<div class="container">
					<a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</a>		
					<div class="nav-collapse">
						<ul class="nav pull-left"> <li class="active"><a href="index.html">Home</a></li>
							<li><%= link_to "Download", :controller => "static", :action => "download" %></li>
							<li><%= link_to "Our Story", :controller => "static", :action => "about" %></li>
							<li><%= link_to "Help", :controller => "static", :action => "help" %></li>
							<li><%= link_to "Contact", :controller => "static", :action => "contact" %></li>
						</li>
						</ul>
					</div>	
				</div>
			</div>
		</div>
		
		<div class="headerBox">
			<img src="/assets/header.png" width="55%" height="50%">
		</div>	
		<div class="truck">
			<img src="/assets/falafelTruck.png">
		</div>	
		<div class="intro">
			<p>Hungry? <br><br>Find a food truck</p>
		</div>	

		<%= yield %>
	</div>

	<div class="modal" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none">
		<script>
			function onSubmit()
			{
				alert('submitting');
				data = {
						item : 
						{
							name : $('#item_name').val(), 
							price : $('#item_price').val(), 
							details : $('#item_details').val()
						},
						commit : "Create Item"
					};
				alert(data["item"]["Name"]);
				$.post(
					'<%= items_path %>', 
					data, 
					submitCallback, 
					"json");
			}

			function submitCallback(data) 
			{
				alert('success'); 
				$('#myModal').toggle();
			}
		</script>
		<div class="modal-header">
		<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
		<h3 id="myModalLabel">Create Food Item</h3>
		</div>
		<div class="modal-body">
			Loading data...
		</div>	
		<div class="modal-footer">
		<button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
		<button class="btn btn-primary" id="save_btn" onclick="onSubmit()">Save changes</button>
		</div>
	</div>
</body>
</html>