	
<html>
	<head>
		<title>
			Spork | Food Truck Tracker
		</title>
		<!--link rel="stylesheet" type="text/css" href="bootstrap-responsive.css"/>
		<link rel="stylesheet" type="text/css" href="bootstrap.css"/-->	
		<%= stylesheet_link_tag    "application", :media => "all" %>
		<%= javascript_include_tag "application" %>
		<%= csrf_meta_tags %>
	</head>

	<div class="outerBox">
		<div class ="body">	</div>
		<div class="navbar navbar-fixed-top">
			<div class="navbar-inner">
				<div class="container">
					<a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</a>		
					<div class="nav-collapse">
						<ul class="nav pull-left"> <li class="active"><a href="index.html">Home</a></li>
							<li><%= link_to "Download", :controller => "static", :action => "download" %></li>
							<li><%= link_to "Our Story", :controller => "static", :action => "about" %></li>
							<li><%= link_to "Help", :controller => "static", :action => "help" %></li>
							<li><%= link_to "Contact", :controller => "static", :action => "contact" %></li>
						</li>
						</ul>
					</div>	
				</div>
			</div>
		</div>
		
		<div class="headerBox">
			<img src="/assets/header.png" width="55%" height="50%">
		</div>	
		<div class="truck">
			<img src="/assets/falafelTruck.png">
		</div>	
		<div class="intro">
			<p>Hungry? <br><br>Find a food truck</p>
		</div>	

		<%= yield %>
	</div>		
</body>
</html>