<html>
	<head>
		<title>
			Spork | Food Truck Tracker
		</title>
		<%= stylesheet_link_tag    "application", :media => "all" %>
		<%= javascript_include_tag "application" %>
		<%= csrf_meta_tags %>
	</head>

	<body>
		<div class="navbar navbar-inverse navbar-fixed-top">
		    <div class="navbar-inner">
		        <div class="container">
		          <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
		            <span class="icon-bar"></span>
		            <span class="icon-bar"></span>
		            <span class="icon-bar"></span>
		          </a>
		     	  <%= link_to "Spork", {:controller => "static", :action => "index"}, :class => 'brand' %>
		          	<div class="nav-collapse collapse"></div>
		            <ul class="nav">
		              <li class="active"><%= link_to "Home", :controller => "static", :action => "index" %></li>
		              <li><%= link_to "Our Story", :controller => "static", :action => "about" %></li>
		              <li><%= link_to "Contact", :controller => "static", :action => "contact" %></li>
		              <li><%= link_to "Help", :controller => "static", :action => "help" %></li>
		            </ul>
		            <form class="navbar-form pull-right">
		            	<% if signed_in? %>
		            		Welcome!
		            		<%= link_to "Sign out", :controller => 'sessions', :action => 'destroy', :class =>'btn' %>
			            <% else %> 
			              <input class="span2" type="text" placeholder="Email">
			              <input class="span2" type="password" placeholder="Password">
			              <button type="submit" class="btn">Sign in</button>
		              <% end %>
		            </form>
		        </div>
		    </div>
		</div>
		<div class="header" id="header-index">
    
       	<h1>SporkTrucks</h1>
       	<br>
        <p><a class="btn btn-inverse btn-large">Find a Food Truck &raquo;</a>
		</div>


		<div class="container">
			<section class="round">
				<% flash.each do |key, value| %> 
					<%= content_tag(:div, value, :class => "flash #{key}") %>
				<% end %>
				<%= yield %>
				<hr>
			</section>

      <footer>      	
        <p>&copy; SporkTrucks 2012</p>
		<%= debug(params) if Rails.env.development? %>        
      </footer>
		</div>
	</body>
</html>